/testboost/lib_boost/
/testg1/platform/build/
/testmysql/mysql-connector-c++-8.0.33-macos13-x86-64bit/
/testmysql/mysqlconnect/build/
/testmysql/mysqlconnect/mysql-connector/
/testmysql/mysqlconnect/bin/
/testg1/tinyxml2/
/testg1/testlog/bin/
/testg1/testlog/build/
/testg1/testlog/cmake-build-g/
/testg1/tinyxml2/.github/
/testg1/tinyxml2/build/
/testg1/tinyxml2/cmake/
/testg1/tinyxml2/contrib/
/testg1/tinyxml2/docs/
/testg1/tinyxml2/resources/
/testg1/tinyxml2/test/
/testg1/tinyxml2/vs/
/testg1/tinyxml2/.gitignore
/testg1/tinyxml2/CMakeLists.txt
/testg1/tinyxml2/dox
/testg1/tinyxml2/LICENSE.txt
/testg1/tinyxml2/Makefile
/testg1/tinyxml2/meson.build
/testg1/tinyxml2/meson_options.txt
/testg1/tinyxml2/readme.md
/testg1/tinyxml2/run.sh
/testg1/tinyxml2/setversion.py
/testg1/tinyxml2/tinyxml2.cpp
/testg1/tinyxml2/tinyxml2.h
/testg1/tinyxml2/TinyXML2_small.png
/testg1/tinyxml2/xmltest.cpp
/cmake-build-debug/
